.project{
    height: auto;
    padding-bottom: 2rem;
    background-color: #ADA796;
    h2{
        color: #2A2219;
        font: 600 5rem Merriweather;
        padding: 2rem ;
    }
}
.detail{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem 0 2rem;
    border: #1a150f;
    width: auto;
    transition: transform 0.5s;
    border-radius: 3px;
    &:hover{
        transform: scale(1.1);
    }
    img{
        height: 20rem;
        width: 20rem;
    }
    .caption{
        background-color: #2A2219;
        color: #ffffff;
        border-bottom-left-radius: 5px ;
        border-bottom-right-radius: 5px ;
        font: 500 1.25rem Opensans;
        padding: 0.8rem 0;
        text-align: center;
        letter-spacing: 1px;
    }
}